<div class="container">
  <div class="row justify-content-center align-self-center">
    <div class="col">
      <% flash.each do |key, value| %>
        <h4><%= value %></h4>
      <% end %>
      
      <%= form_tag contactUs_path, method: 'post' do %>
        <div class="form-group">
          <%= label_tag 'Title' %>
          <%= text_field_tag :title, '', size: 100, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= label_tag 'Message' %>
          <%= text_area_tag :message, '', size: '100x10', class: 'form-control' %>
        </div>
        <%= submit_tag 'Submit', class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>
